In [2]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\aa1\Desktop\data_repo\a_levels_schools\a_level_schools_compare\England postcodes.csv")

C:\Users\aa1\AppData\Local\Temp\ipykernel_13996\136645907.py:1: DtypeWarning: Columns (18,29,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\aa1\Desktop\data_repo\a_levels_schools\a_level_schools_compare\England postcodes.csv")

In [5]:
df.describe()

,Latitude,Longitude,Easting,Northing,Population,Households,Altitude,London zone,Index of Multiple Deprivation,Quality,User Type,Distance to station,Average Income,Distance to sea,IMD decile
count,2.254650e+06,2.254650e+06,2.247615e+06,2.247615e+06,1.227684e+06,1.227684e+06,2.247621e+06,329606.000000,2.254650e+06,2.254650e+06,2.254650e+06,2.247619e+06,2.247615e+06,2.247615e+06,2.254650e+06
mean,5.215691e+01,-1.212772e+00,4.539950e+05,2.701357e+05,4.318093e+01,1.797154e+01,6.492101e+01,3.124103,1.627391e+04,1.794989e+00,2.896081e-01,2.826808e+00,4.777562e+04,4.017902e+01,5.457089e+00
std,3.136857e+00,1.229774e+00,8.499630e+04,1.277651e+05,3.897535e+01,1.489076e+01,5.196415e+01,1.594836,9.325053e+03,2.100595e+00,4.535806e-01,3.656646e+00,1.195918e+04,3.058070e+01,2.828437e+00
min,0.000000e+00,-6.352647e+00,8.789700e+04,8.132000e+03,1.000000e+00,0.000000e+00,-4.000000e+00,1.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.220000e+04,0.000000e+00,0.000000e+00
25%,5.144705e+01,-2.115475e+00,3.921555e+05,1.734500e+05,1.500000e+01,6.000000e+00,2.500000e+01,2.000000,8.369000e+03,1.000000e+00,0.000000e+00,6.465260e-01,3.920000e+04,1.214335e+01,3.000000e+00
50%,5.202230e+01,-1.244267e+00,4.506850e+05,2.379760e+05,3.300000e+01,1.400000e+01,5.200000e+01,3.000000,1.635700e+04,1.000000e+00,0.000000e+00,1.475350e+00,4.610000e+04,3.789870e+01,5.000000e+00
75%,5.337906e+01,-1.955682e-01,5.247000e+05,3.873200e+05,6.200000e+01,2.600000e+01,9.300000e+01,4.000000,2.418100e+04,1.000000e+00,1.000000e+00,3.376915e+00,5.450000e+04,6.022010e+01,8.000000e+00
max,5.579742e+01,1.762773e+00,6.555950e+05,6.560140e+05,3.215000e+03,6.460000e+02,5.300000e+02,7.000000,3.284400e+04,9.000000e+00,1.000000e+00,6.326240e+01,1.081000e+05,1.193850e+02,1.100000e+01

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2254650 entries, 0 to 2254649
Data columns (total 58 columns):
 #   Column                               Dtype
---  ------                               -----
 0   Postcode                             object
 1   In Use?                              object
 2   Latitude                             float64
 3   Longitude                            float64
 4   Easting                              float64
 5   Northing                             float64
 6   Grid Ref                             object
 7   County                               object
 8   District                             object
 9   Ward                                 object
 10  District Code                        object
 11  Ward Code                            object
 12  Country                              object
 13  County Code                          object
 14  Constituency                         object
 15  Introduced                           object
 16  Terminated                           object
 17  Parish                               object
 18  National Park                        object
 19  Population                           float64
 20  Households                           float64
 21  Built up area                        object
 22  Built up sub-division                object
 23  Lower layer super output area        object
 24  Rural/urban                          object
 25  Region                               object
 26  Altitude                             float64
 27  London zone                          float64
 28  LSOA Code                            object
 29  Local authority                      object
 30  MSOA Code                            object
 31  Middle layer super output area       object
 32  Parish Code                          object
 33  Census output area                   object
 34  Constituency Code                    object
 35  Index of Multiple Deprivation        int64
 36  Quality                              int64
 37  User Type                            int64
 38  Last updated                         object
 39  Nearest station                      object
 40  Distance to station                  float64
 41  Postcode area                        object
 42  Postcode district                    object
 43  Police force                         object
 44  Water company                        object
 45  Plus Code                            object
 46  Average Income                       float64
 47  Sewage Company                       object
 48  Travel To Work Area                  object
 49  ITL level 2                          object
 50  ITL level 3                          object
 51  Distance to sea                      float64
 52  LSOA21 Code                          object
 53  Lower layer super output area 2021   object
 54  MSOA21 Code                          object
 55  Middle layer super output area 2021  object
 56  Census output area 2021              object
 57  IMD decile                           int64
dtypes: float64(11), int64(4), object(43)
memory usage: 997.7+ MB

In [7]:
df.nunique()

Postcode                               2254650
In Use?                                      2
Latitude                               1306832
Longitude                              1375917
Easting                                 357914
Northing                                452698
Grid Ref                               1020157
County                                      48
District                                   296
Ward                                      6430
District Code                              296
Ward Code                                 6862
Country                                      1
County Code                                 48
Constituency                               533
Introduced                                 351
Terminated                                 293
Parish                                    9800
National Park                               10
Population                                 666
Households                                 185
Built up area                             5341
Built up sub-division                     1663
Lower layer super output area            32844
Rural/urban                                 10
Region                                       9
Altitude                                   488
London zone                                  7
LSOA Code                                32844
Local authority                             21
MSOA Code                                 6791
Middle layer super output area            6728
Parish Code                              10641
Census output area                      171341
Constituency Code                          533
Index of Multiple Deprivation            32819
Quality                                      7
User Type                                    2
Last updated                                 2
Nearest station                           2299
Distance to station                     951631
Postcode area                              105
Postcode district                         2337
Police force                                39
Water company                               27
Plus Code                              1643416
Average Income                             585
Sewage Company                              13
Travel To Work Area                        155
ITL level 2                                 33
ITL level 3                                133
Distance to sea                         990125
LSOA21 Code                              33755
Lower layer super output area 2021       33755
MSOA21 Code                               6856
Middle layer super output area 2021       6789
Census output area 2021                 178582
IMD decile                                  12
dtype: int64

In [8]:
df.isnull().sum()

Postcode                                     0
In Use?                                      0
Latitude                                     0
Longitude                                    0
Easting                                   7035
Northing                                  7035
Grid Ref                                  7035
County                                    7035
District                                  7035
Ward                                      7035
District Code                             7035
Ward Code                                 7035
Country                                      0
County Code                               7035
Constituency                              7035
Introduced                                   0
Terminated                             1485367
Parish                                   75699
National Park                          2232908
Population                             1026966
Households                             1026966
Built up area                           268698
Built up sub-division                   713346
Lower layer super output area             7035
Rural/urban                               7035
Region                                    7035
Altitude                                  7029
London zone                            1925044
LSOA Code                                 7035
Local authority                        1455116
MSOA Code                                 7035
Middle layer super output area            7035
Parish Code                              75699
Census output area                        7035
Constituency Code                         7035
Index of Multiple Deprivation                0
Quality                                      0
User Type                                    0
Last updated                                 0
Nearest station                           7031
Distance to station                       7031
Postcode area                                0
Postcode district                            0
Police force                              7035
Water company                           812287
Plus Code                                 7032
Average Income                            7035
Sewage Company                         1985042
Travel To Work Area                       7035
ITL level 2                               7035
ITL level 3                               7035
Distance to sea                           7035
LSOA21 Code                               7035
Lower layer super output area 2021        7035
MSOA21 Code                               7035
Middle layer super output area 2021       7035
Census output area 2021                   7035
IMD decile                                   0
dtype: int64

In [11]:
df2=df[df['In Use?']=='Yes']

In [12]:
df2.isnull().sum()

Postcode                                     0
In Use?                                      0
Latitude                                     0
Longitude                                    0
Easting                                    887
Northing                                   887
Grid Ref                                   887
County                                     887
District                                   887
Ward                                       887
District Code                              887
Ward Code                                  887
Country                                      0
County Code                                887
Constituency                               887
Introduced                                   0
Terminated                             1485367
Parish                                   45976
National Park                          1468648
Population                              262259
Households                              262259
Built up area                           213992
Built up sub-division                   531843
Lower layer super output area              887
Rural/urban                                887
Region                                     887
Altitude                                   884
London zone                            1304674
LSOA Code                                  887
Local authority                         932140
MSOA Code                                  887
Middle layer super output area             887
Parish Code                              45976
Census output area                         887
Constituency Code                          887
Index of Multiple Deprivation                0
Quality                                      0
User Type                                    0
Last updated                                 0
Nearest station                            884
Distance to station                        884
Postcode area                                0
Postcode district                            0
Police force                               887
Water company                           106689
Plus Code                                  885
Average Income                             887
Sewage Company                         1223771
Travel To Work Area                        887
ITL level 2                                887
ITL level 3                                887
Distance to sea                            887
LSOA21 Code                                887
Lower layer super output area 2021         887
MSOA21 Code                                887
Middle layer super output area 2021        887
Census output area 2021                    887
IMD decile                                   0
dtype: int64